body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #78c2f2;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body,
main,
header,
.container-task-input,
button {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex-direction: column;
    background: #fff;
    padding: 35px 20px;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    row-gap: 18px;
}

header {
    column-gap: 6px;
}

h1 {
    font-size: 32px;
    margin: 0;
}

.container-task-input {
    width: 400px;
    position: relative;
}

.task-input {
    background-color: #eceef0;
    padding: 14px 40px 14px 15px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 100%;
}

.add-update {
    position: absolute;
    right: 0px;
    background-color: #31cc2f;
    color: #000;
    font-size: 33px;
    font-weight: bold;
    border-radius: 20px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: none;
    transition: 0.4s ease-in-out all;
}

.fa-solid.fa-rotate {
    display: none;
}

.add-update:hover {
    background-color: #2cb129;
    color: #fff;
}

.container-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-alert .alert-msg {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.add-msg {
    color: #2cb129;
}

.error-msg {
    color: #eb0606;
}

.question-msg {
    color: #000;
}

.confirm-container {
    margin-top: 10px;
    display: none;
    align-items: center;
    column-gap: 40px;
}

.fa-solid.fa-circle-check,
.fa-solid.fa-circle-xmark {
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease-out all;
}

.fa-solid.fa-circle-check {
    color: #2cb129;
}

.fa-solid.fa-circle-check:hover {
    color: #228e20;
}
.fa-solid.fa-circle-xmark {
    color: #eb0606;
}

.fa-solid.fa-circle-xmark:hover {
    color: #a80808;
}

.task-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #eceef0;
    width: 100%;
    padding: 11px;
    border-radius: 7px;
    column-gap: 12px;
}

.input-check {
    cursor: pointer;
    width: 20px;
    height: 20px;
    accent-color: #31cc2f;
}

.task-value {
    margin: 0;
    flex-grow: 1;
}

.btn-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.fa-solid.fa-pen,
.fa-solid.fa-trash-can {
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.fa-solid.fa-pen:hover {
    color: #78c2f2;
}

.fa-solid.fa-trash-can:hover {
    color: #eb0606;
}

@media (max-width: 768px) {
    .container-task-input {
        width: 280px;
    }
}